*{
    margin:0;
    padding: 0;

}
body{
background-color: greenyellow;
}
h2{
    text-align: center;
    margin:5px;
    text-decoration: underline;
}
.gamebox{
    border-radius: 10%;
    background-color: aquamarine;
    height:90vh;
    width:40%;
  box-shadow: 6px 6px 22px #1C1B21;
    margin:auto;
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 20px;
}
.wordplace{
padding: 20%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
 box-shadow: 2px 0px 6px #1C1B21;
border-radius:30px;
animation : fade 2s ease-in-out;
justify-content: center;
align-items: center;
}
    .controller{
        height:22%;
        width:25%;   
        position: relative;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        gap: 10px;
    }
    .controller span{
        box-shadow: 4px 5px 8px black; 
        
        justify-content: center;
        height: 10px;
        width: 10px;
        padding: 30px;
        border-radius: 50%;
        font-weight: bolder;
        transition: 0.25s ease-in-out;
        display: flex;
        flex-direction: row;
    }
    .controller span:hover{
        background-color: #1C1B21;
        cursor: pointer;
color:white;

    }
   #span0{
       position: relative;
        text-align: center;
        
   }
   #span1{
    position: relative;
    text-align: center;
}
#span2{
    position: relative;
    text-align: center;
}
#span3{
    position: relative;
   text-align: center;
}
#span4{
    position: relative;
   text-align: center;
}#span5{
    position: relative;
   text-align: center;
}#span6{
    position: relative;
   text-align: center;
}
#span7{
    position: relative;
   text-align: center;
}
    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* width:20%; */
        font-size: medium;
        
    }
    .row span{
        /* border-bottom: 1px solid #1C1B21; */
        /* padding:15px; */
        font-weight: bolder;
        font-size: 40px;
        display: none;
    }


@keyframes fade{
0%{
opacity:0.1;
}
25%{
opacity:0.25;
}
50%{
opacity:0.5;
}
75%{
opacity:0.75;
}
100%{
opacity:1;
}
}

